requests
python-dateutil
cryptography
urllib3
python-dotenv
websockets
datetime
selenium
beautifulsoup4
pytz
pandas
numpy
uuid
fake-useragent
python-time
zulu
fake_useragent
gspread
webdriver-manager
scikit-learn
google.oauth2.service_account

